.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.top-icon,
.bottom-icon {
  cursor: pointer;
  margin: 20px;
  /* İkonlar arasında 20px boşluk bırakmak için */
}

.bottom-icon {
  transform: rotate(180deg);
  /* İkona 180 derece döndürme */
}